<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Editor</title>
</head>
<body>

        <table border="0" width="100%" align="center">
            <tr>
                <td>Editor</td>
                <td>Console</td>
            </tr>
            <tr>
                <td width="50%"  align="center">
                    <form method="post">
                        <textarea type="text" name="editor" cols="130" rows="50">{{ code }}</textarea>
                        <input type="submit" value="Submit and Run">
                    </form>
                </td>
                <td width="50%"  align="center">
                    <textarea type="text" name="console" readonly="readonly" cols="130" rows="50">{{ result }}</textarea>
                    <br/>
                </td>
            </tr>
        </table>

</body>
</html>